// $hopbush: #c69 !default;
// $patina: #699 !default;
// $venus: #998099 !default;
// $nebula: #d2e1dd !default;

// $black: #000 !default;
// $white: #fff !default;

// $btn-disabled-opacity: 0.5 !default;

$darkblue: #3071a9;
$lightblue: #367ebd;

$range_shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
$range_small_border: 0.2px solid #010101;