@import '_variables';
@import '_mixins';

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  &:focus {
    outline: none;
  }
  @include range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: $range_shadow;
    background: $darkblue;
    border-radius: 1.3px;
    border: $range_small_border;
  }

  &::-webkit-slider-thumb {
    box-shadow: $range_shadow;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: $lightblue;
  }
 
  @include range-thumb() {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #2a6495;
    border: $range_small_border;
    border-radius: 2.6px;
    box-shadow: $range_shadow;
  }
  &::-ms-fill-upper {
    background: $darkblue;
    border: $range_small_border;
    border-radius: 2.6px;
    box-shadow: $range_shadow;
  }
  &::-ms-thumb {
    box-shadow: $range_shadow;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  &:focus::-ms-fill-lower {
    background: $darkblue;
  }
  &:focus::-ms-fill-upper {
    background: $lightblue;
  }
}