.btn {
  display: inline-block;
  border: 1px solid transparent;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 2px;
  user-select: none;
  transition: box-shadow 0.3s;
}

.btn:hover:not(:disabled) {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.btn:disabled {
  opacity: 0.65;
  box-shadow: none;
}
