body {
  h1 {
    color: #c46;
  }
}

.btn {
  padding: 2px 10px;
  border: 1px #c46 solid;
  border-radius: 2px;

  &-primary {
    color: white;
    background-color: #c46;
  }

  &-secondary {
    background-color: #edbcc8;
    color: black;
  }

  &:disabled {
    opacity: 0.5;
  }

}