body {
  h1 {
    color: #c46;
  }
}

.btn {
  padding: 2px 10px;
  border: 1px solid #c46;
  border-radius: 2px;

  &.btn-primary {
    background-color: #c46;
    color: #fff;
    &:disabled {
      opacity: 0.5;
    }
  }

  &.btn-secondary {
    background-color: #edbcc8;
    color: #000;
    &:disabled {
      opacity: 0.5;
    }
  }
}