.btn {
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px solid #c46;
  &:disabled {
    opacity: 0.5;
  }
  &.btn-primary {
    background: #c46;
    color: #fff;
  }
  &.btn-secondary {
    background: #edbcc8;
    color: #000;
  }
}