$primary-color: #c46;
$secondary-color: #edbcc8;

.btn {
  padding: 2px 10px;
  border-style: solid;
  border-width: 1px;
  line-height: 20px;
  border-radius: 2px;
  &:disabled {
    opacity: 0.5;
  }
  &--mode-primary {
    background: $primary-color;
    color: white;
  }
  &--mode-secondary {
    background: $secondary-color;
  }
  .btn &__price {
    background: #008000;
    padding: 1px 3px;
  }
  .btn:disabled &__price {
    background: #aaa;
  }
}