%btn {
  padding: 2px 10px;
  border-radius: 2px;
  border-style: solid;
  &:disabled {
    opacity: 0.5;
  }
}

.btn-primary {
  @extend %btn;
  background: #c46;
  color: white;
}

.btn-secondary {
  @extend %btn;
  background: rgb(237, 188, 200);
  color: black;
}