.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background: #eee;

  .sidebar,
  .main { padding: 10px; }

  .main {
    margin-left: 220px;
    min-height: 100vh;
    border-left: 2px solid #333;
  }

  .sidebar {
    width: 200px;
    float: left;
  }

  &.right-nav {
    > .sidebar {
      float: right;
    }

    > .main {
      margin-right: 220px;
      margin-left: 0;
      border-left: none;
      border-right: 2px solid #333;
    }
  }
}