.btn {
  padding: 2px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
}

.btn:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.btn:disabled {
  color: #666;
  opacity: 0.5;
}

.foo {
  color: #7552e0;
}
