/* Source: https://css-tricks.com/snippets/sass/power-function/ */
.btn {
  padding: 2px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.btn:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.btn:disabled {
  color: #666;
  opacity: 0.5;
}

.theme-1 .btn-primary {
  background-color: #9f9;
  border-color: #33ff33;
  /* luminance(#9f9): 0.5
   * luminance(white): 0.5
   */
}

.theme-1 .btn-primary:hover:not(:disabled) {
  background-color: #ccffcc;
}

.theme-1 .btn-secondary {
  background-color: #3377ff;
  border-color: #0044cc;
  /* luminance(#3377ff): 0.5
   * luminance(white): 0.5
   */
}

.theme-1 .btn-secondary:hover:not(:disabled) {
  background-color: #6699ff;
}

.theme-1 .btn-other {
  background-color: #ff7733;
  border-color: #cc4400;
  /* luminance(#ff7733): 0.5
   * luminance(white): 0.5
   */
}

.theme-1 .btn-other:hover:not(:disabled) {
  background-color: #ff9966;
}

.theme-1 .btn-other2 {
  background-color: #ff33ff;
  border-color: #cc00cc;
  /* luminance(#ff33ff): 0.5
   * luminance(white): 0.5
   */
}

.theme-1 .btn-other2:hover:not(:disabled) {
  background-color: #ff66ff;
}

.theme-2 .btn-primary {
  background-color: #99f;
  border-color: #3333ff;
  /* luminance(#99f): 0.5
   * luminance(white): 0.5
   */
}

.theme-2 .btn-primary:hover:not(:disabled) {
  background-color: #ccccff;
}

.theme-2 .btn-secondary {
  background-color: #ff6666;
  border-color: red;
  /* luminance(#ff6666): 0.5
   * luminance(white): 0.5
   */
}

.theme-2 .btn-secondary:hover:not(:disabled) {
  background-color: #ff9999;
}

.theme-2 .btn-other {
  background-color: #66ff66;
  border-color: lime;
  /* luminance(#66ff66): 0.5
   * luminance(white): 0.5
   */
}

.theme-2 .btn-other:hover:not(:disabled) {
  background-color: #99ff99;
}

.theme-2 .btn-other2 {
  background-color: #ffff66;
  border-color: yellow;
  /* luminance(#ffff66): 0.5
   * luminance(white): 0.5
   */
}

.theme-2 .btn-other2:hover:not(:disabled) {
  background-color: #ffff99;
}

.theme-3 .btn-primary {
  background-color: #66f;
  border-color: blue;
  /* luminance(#66f): 0.5
   * luminance(white): 0.5
   */
}

.theme-3 .btn-primary:hover:not(:disabled) {
  background-color: #9999ff;
}

.theme-3 .btn-secondary {
  background-color: red;
  border-color: #990000;
  /* luminance(red): 0.5
   * luminance(white): 0.5
   */
}

.theme-3 .btn-secondary:hover:not(:disabled) {
  background-color: #ff3333;
}

.theme-3 .btn-other {
  background-color: lime;
  border-color: #009900;
  /* luminance(lime): 0.5
   * luminance(white): 0.5
   */
}

.theme-3 .btn-other:hover:not(:disabled) {
  background-color: #33ff33;
}

.theme-3 .btn-other2 {
  background-color: yellow;
  border-color: #999900;
  /* luminance(yellow): 0.5
   * luminance(white): 0.5
   */
}

.theme-3 .btn-other2:hover:not(:disabled) {
  background-color: #ffff33;
}
