body {
    h1 {
    color: #c69;
  }
}
.btn {
  padding: 2px 10px;
  border-radius: 2px;
  &.btn-primary {
    border: 1px solid rebeccapurple;
    background-color: lawngreen;
    color: #fff;
  }
  &.btn-secondary {
    border: 1px solid cadetblue;
    background-color: peru;
    color: #000;
  }
  &:disabled {
    opacity: 0.65;
  }
}