@import "_variables";

body {
  h1 {
    color: $hopbush;
  }
}

.btn {
  padding: 2px 10px;
  border-radius: 2px;

  &.btn-primary {
    border: 1px solid $venus;
    background-color: $hopbush;
    color: $white;
  }

  &.btn-secondary {
    border: 1px solid $patina;
    background-color: $nebula;
    color: $black;
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
  }
}