@import '_variables';
@import '_mixins';

.btn {
  padding: 2px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #000;
  &:hover:not(:disabled) {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  }
  &:disabled {
    color: #666;
    opacity: 0.5;
  }
}

.theme-1 {
  @include theme(#9f9, 100deg);
}

.theme-2 {
  @include theme(#99f, $darkenpct: 10%);
}

.theme-3 {
  @include theme(#a6a);
}
