body h1 {
  color: #c46;
}

.btn {
  padding: 2px 10px;
  border: 1px solid #c46;
  border-radius: 2px;
}

.btn.btn-primary {
  background-color: #c46;
  color: white;
}

.btn.btn-secondary {
  background-color: #edbcc8;
}

.btn:disabled {
  opacity: 0.5;
}
